# Topmost editorconfig to view
root = true

[*]
charset = utf-8

indent_style = space
indent_size = 4
tabwidth = 4

# Taken by neovim
max_line_length = 80

# Format ss or ss-TT (IS0639 or ISO 3166) identifiers
# spelling_language = 

# lf - line feed vs cr - carriage return character
# end_of_line = lf

# insert_final_newline = true
# trim_trailing_whitespace = false

